{% extends 'base.html' %}
{% block content %}

<h1>Your Files:</h1>
<div class="table-responsive"> 
    <table id="files" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Upload Time</th>
            </tr>
        </thead>
        <tbody>
        {% for item in query_results %}
            <tr> 
                <td>{{ item.data_type }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.uploaded_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function() {
    $('#files').DataTable();
} );
</script>

{% endblock %}



